{% extends "base_generic.html" %}

{% block container %}
    <h1 class="text-center">Rover move management</h1>
    <div class=" text-center" id="direction">C</div>
    <div class=" text-center" id="app">
      <!-- React will load here -->
    </div>
    <div class="row align-items-center height100perc">
      <div class="col-sm-12">

              <!--div id="joystickDiv2" style="width:200px;height:200px;position:fixed;left:50%;margin-left:-100px" ></div-->

      </div>
    </div>
{% endblock %}