
.joystick-div {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
    margin-left: -100px;
}

.button-recognize {
    height: 50px;
}

.container-recognize {
    position: fixed;
    top: 290px;
    width: 200px;
    height: 200px;
    left: 50%;
    margin-left: -100px;
}

.recognized-image {
    height: 150px;
    width: 200px;

}